body {
    background-color: rgb(119, 119, 119);
}

.container {
    display: flex;
    justify-content: center;

}

.column {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    padding: 10px;
}

.row {
    display: flex;
}

.block {
    background-color: black;
}